attrs==23.2.0
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
idna==3.6
packaging==23.2
ply==3.11
pyasn1==0.5.0
pycparser==2.21
pycryptodome==3.20.0
pyOpenSSL==24.0.0
requests==2.31.0
rsa==4.9
toml==0.10.2
urllib3==1.26.18